* {
  box-sizing: border-box;
}

body {
  margin: unset;

  font: 16px/1 "Mulish";
}

main {
  display: grid;
  justify-items: center;

  padding: 5em 0;
  min-height: 100vh;
}

input,
textarea {
  font: inherit;
}

/* Form */

.form {
  position: relative;

  display: grid;
  align-content: baseline;
  gap: 2.5em;
}

.form__group {
  display: grid;
  gap: 1.5em;

  padding: 2em;
  border: 1px dotted;
}

.form__submit {
  all: unset;

  position: sticky;
  bottom: 1em;

  padding: 1em 1.5em;
  background: lightblue;

  cursor: pointer;
  text-align: center;
}

/* Input */

.input {
  display: grid;
  gap: 0.5em;
}

.input span {
  font-weight: 600;
}

.input textarea {
  min-width: 25em;
  min-height: 10em;
}